.react-flow__controls-button {
  margin: 2px;
}

.custom-controls {
  background: transparent; 
}

.react-flow__controls {
  box-shadow: 0px 0px 0px 0px;
  background-color: transparent;
  border: none;
}

.react-flow__panel.bottom{
  bottom: 80%
}

.react-flow__panel {
  margin: 0;
}

.custom-controls button {
  color: #fff; 
  background-color: #fff;
  padding: 1px;
  border-radius: 5px;
}

.custom-controls button svg{
    width: 10px;
}

.custom-controls button:hover {
  background-color: #ccc; 
}

.react-flow__renderer {
  cursor: grab; 
  -webkit-tap-highlight-color: #000;
}

.react-flow .react-flow__node {
}

.react-flow__minimap svg {
  border-radius: 0px;
  width: 120px;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 6px 2px #ccc  ;
}

.react-flow__panel {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.react-flow__panel.left {
  left: auto;
  right: 0px;
}

.react-flow__attribution {
  display: none;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
    stroke-width: 1;
}

.react-flow .react-flow__handle {
  width: 20px;
  height: 10px;
  border-radius: 3px;
  background-color: #34312d;
  visibility: hidden;
}

.react-flow .react-flow__handle-top {
  top: 0px;
}

.react-flow .react-flow__handle-bottom {
  bottom: 0px;
}

.react-flow .react-flow__handle-right {
  right: 0px;
}

.react-flow .react-flow__handle-left {
  left: -5px;
}

.react-flow__edge-path {
  stroke: #333;
  stroke-width: 2;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}



/* ############################################################################################### custom checkbox styles   ############################################################################################### */ 

.container {
  cursor: pointer;
  width: fit-content;
  margin: 0;
}

.container input {
  display: none;
  padding: 0;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #004e98;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
  color: #004e98;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
 

/* react-dropdown-select */
.react-dropdown-select-option {
  border-radius: 10px !important;
  text-wrap-mode: nowrap;
}

.react-dropdown-select-content {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
  width: 55% !important;
  /* border-radius: 50px; */
}

.react-dropdown-select-content input {
  min-width: 30% !important;
}

.react-dropdown-select-dropdown {
  border-radius: 15px !important;
  padding: 5px !important;
  width: fit-content !important;
}

.react-dropdown-select-item {
  border-radius: 50px !important;
}
